<html>
	<head>
	<style>
	p {
    display:inline;
	font-family:Times New Roman;
	position:relative;
	font-weight:bold;
    font-size: 26px;
	color: #ccf5ff;
	}
	</style>
	</head>
	<body  bgcolor="#ccccff">
	<div>
	 <p><br>Oto stworzony album!<br></p>
	   <ul class="list-group">
           {% for photo in variables.photos %}
		  
	    <li class="list-group-item">
             <img src="{{ photo }}" class="img-circle" height="500" />
            </li>
	   {% endfor %}
           </ul>
		   </div>
	</body>
</html>
